<div class="simpleslide100">
    <div class="overlay1"></div>
    <div class="simpleslide100-item bg-img1" style="background-image: url('/assets/images/bgslides/bg1.jpg');"></div>
    <div class="simpleslide100-item bg-img1" style="background-image: url('/assets/images/bgslides/bg2.jpg');"></div>
    <div class="simpleslide100-item bg-img1" style="background-image: url('/assets/images/bgslides/bg3.jpg');"></div>
    <div class="simpleslide100-item bg-img1" style="background-image: url('/assets/images/bgslides/bg4.jpg');"></div>
    <div class="simpleslide100-item bg-img1" style="background-image: url('/assets/images/bgslides/bg5.png');"></div>
</div>